* {
  margin: 0%;  /* É usada para controlar o espaçamento externo do elemento em relação a outros elementos ou aos limites da janela do navegador.*/
  padding: 0%; /*controla o espaço entre o conteúdo do elemento e sua borda.*/
  box-sizing: border-box;/*O tamanho total inclui conteúdo, preenchimento e borda*/                                 
  font-family: cursive;  
}

body {
    height: 100vh;/*área visível da janela do navegador*/
    display: flex;/*Os elementos dentro do HTML se organizam em uma linha ou coluna*/
    align-items: center;
    justify-content: center;/* colocar todos os elementos dentro de um HTML no meio horizontal*/
    background-image: url(Fotos/Tela\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   

main {
    display: flex; /*serve para se ajustar a tela*/
    flex-direction: column;
    gap: 5px; /*define o espaçamento entre os elementos*/
}
h1 {
    text-align: center;
}

hr { 
    font-weight:  bold;
    height: 3px;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
}


.player-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /*é utilizada para definir como uma imagem ou vídeo deve se ajustar dentro de seu HTML*/
}