* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive;  
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/736x/cb/d3/41/cbd34142d5cc761babe03d573d366fc6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}   

main {
    display: flex; /*serve para os elementos se ajustar a tela*/
    flex-direction: column; /*deixar os elementos um em cima do outro*/
    gap: 5px; /*define o espaçamento entre os elementos*/
}
h1 {
    text-align: center;
}

hr { 
    font-weight:  bold;
    height: 3px;
    margin-bottom: 10px;
    background-color: black;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;  /* o cursor do mouse mudára para uma mãozinha quando passar sobre os botões*/
    font-size: 50px;
    background: white;
}


.player-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* serve para um elemento se ajustar dentro de algo*/
}